#addToBasket {
  position: absolute;
  width: 303px;
  height: 63px;
  left: 1306px;
  margin-top: 512px;
  background: #27262d;
  border-radius: 31px;
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.035em;
  color: #ffffff;
  padding-left: 0%;
}
#confirm {
  position: absolute;
  width: 200px;
  margin-left: 100px;
  margin-top: 40px;
  background: linear-gradient(
    90deg,
    rgba(107, 185, 105, 1) 5%,
    rgba(12, 140, 59, 1) 48%,
    rgba(0, 255, 128, 1) 92%
  );
  font-size: 30px;
  border-radius: 31px;
  color: #ffffff;
}

#reject {
  position: absolute;
  width: 200px;
  margin-left: 400px;
  margin-top: 40px;
  background: linear-gradient(
    90deg,
    rgba(185, 121, 105, 1) 5%,
    rgba(99, 10, 10, 1) 47%,
    rgba(221, 75, 12, 1) 92%
  );
  font-size: 30px;
  border-radius: 31px;
  color: #ffffff;
}

#ok {
  position: absolute;
  width: 200px;
  margin-left: 250px;
  margin-top: 40px;
  background: linear-gradient(
    90deg,
    rgba(216, 223, 142, 1) 5%,
    rgba(255, 236, 88, 1) 47%,
    rgba(190, 198, 10, 1) 92%
  );
  font-size: 30px;
  border-radius: 31px;
  color: black;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  #addToBasket {
    left: 15%;
    margin-top: 1470px;
  }
}
