#silver {
  position: absolute;
  width: 1920px;
  height: 112px;
  left: 0px;
  margin-top: 189px;
  background: #f8f8f9;
}
#silver p {
  position: absolute;
  width: 913px;
  height: 69px;
  left: 289px;
  top: 55px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #27262d;
}

@media screen and (max-width: 768px) {
  #silver {
    width: 100vw;
  }
  #silver p {
    left: 10%;
    font-size: 28px;
  }
}
