@mixin recomendedType {
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  width: 157.82px;
}
@mixin recomendedName {
  margin-top: 19px;
  position: absolute;
  /* naslov desktop */
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  width: 185px;
  color: #000000;
}
@mixin recomendedPrice {
  margin-top: 75px;
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #05b5aa;
  width: 222px;
}

#weRecomend {
  position: absolute;
  width: 528px;
  height: 41px;
  left: 752px;
  margin-top: 1127px;
  padding-top: 0%;
  font-family: Asap;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #27262d;
}
#productTitle {
  position: absolute;
  width: 411px;
  height: 97px;
  left: 802px;
  top: 92px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}
#productType {
  position: absolute;
  left: 41.77%;
  right: 43.02%;
  top: 245px;
  bottom: 77.94%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
#productDescription {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 802px;
  top: 305px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  color: #000000;
}
#price {
  position: absolute;
  top: 11px;
  left: 107px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #05b5aa;
}
#code {
  padding-left: 5px;
  margin-top: 245px;
  padding-top: 19px;
  position: absolute;
  width: 303px;
  height: 40px;
  border-top: 1px solid #c4c4c4;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
#recomendedType1,
#recomendedType2,
#recomendedType3,
#recomendedType4,
#recomendedType5,
#recomendedType6 {
  @include recomendedType();
}

#recomendedName1,
#recomendedName2,
#recomendedName3,
#recomendedName4,
#recomendedName5,
#recomendedName6 {
  @include recomendedName();
}
#recomendedPrice1,
#recomendedPrice2,
#recomendedPrice3,
#recomendedPrice4,
#recomendedPrice5,
#recomendedPrice6 {
  @include recomendedPrice();
}
#action1,
#action2,
#action3,
#action4,
#action5,
#action6 {
  margin-top: 75px;
  margin-left: 72.56px;
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: line-through;
  color: #27262d;
}

#recomendedType1,
#recomendedName1,
#recomendedPrice1 {
  left: 0px;
}
#recomendedType2,
#recomendedName2,
#recomendedPrice2 {
  left: 235.28px;
}
#recomendedType3,
#recomendedName3,
#recomendedPrice3 {
  left: 474.52px;
}
#recomendedType4,
#recomendedName4,
#recomendedPrice4 {
  left: 712px;
}
#recomendedType5,
#recomendedName5,
#recomendedPrice5 {
  left: 959.03px;
}
#recomendedType6,
#recomendedName6,
#recomendedPrice6 {
  left: 1201.28px;
}
#mailAdress {
  position: absolute;
  margin-top: 16px;
  left: 5.31%;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 125.69%;
  color: #6f6f6f;
}
#callNumber {
  position: absolute;
  left: 15.26%;

  margin-top: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 125.69%;
  color: #6f6f6f;
}
#currency {
  position: absolute;
  margin-left: 1288px;
  margin-top: 14px;
  height: 24px;
  width: 85px;
}

#variables p {
  position: absolute;
  width: 303px;
  padding-left: 5px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  height: 42px;
  border-top: 1px solid #c4c4c4;
}
#values p {
  position: absolute;
  margin-left: 107px;
  padding-left: 5px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  height: 42px;
}
#variable1,
#value1 {
  top: 0%;
  margin-top: 0%;
  padding-top: 18px;
  height: 60px;
  position: absolute;
}

#variable2 {
  padding-top: 18px;
  margin-top: 42px;
  height: 42px;
  position: absolute;
}
#value2 {
  margin-top: 0px;
  position: absolute;
}
#variable3 {
  position: absolute;
  padding-top: 18px;
  margin-top: 94px;
  height: 42px;
}
#value3 {
  position: absolute;
  margin-top: 72px;
}
#variable4 {
  margin-top: 136px;
  padding-top: 18px;
  position: absolute;
}
#value4 {
  position: absolute;
  margin-top: 125px;
  margin-left: 17px;
}
#variable5 {
  padding-top: 24px;
  margin-top: 178px;
  position: absolute;
}

#myAccount {
  position: absolute;
  padding-left: 0%;
  margin-top: 16px;
  right: 21.3%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 125.69%;
  color: #6f6f6f;
}
#basketItemsNum {
  position: absolute;
  width: fit-content;
  margin-left: 4px;
}
@mixin greenBarTexts {
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
#search,
#b2b,
#slikovniceTxt,
#ostaliTxt,
#blogTxt,
#snizenoTxt {
  @include greenBarTexts();
}
#search {
  margin-left: 1340px;
  margin-top: 82px;
}
#b2b {
  margin-left: 1663px;
  margin-top: 82px;
}
#slikovniceTxt {
  margin-top: 83px;
  margin-left: 581px;
}
#ostaliTxt {
  margin-top: 84px;
  margin-left: 751px;
}
#blogTxt {
  margin-top: 82px;
  margin-left: 973px;
}
#snizenoTxt {
  margin-top: 82px;
  margin-left: 1096px;
}
#letterText {
  border-style: dotted;
}
#minus {
  position: absolute;
  height: 46px;
  margin-left: 17px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border-right: 1px solid #c4c4c4;
}
#quantity {
  position: absolute;
  margin-top: 1px;
  height: 44px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: 69px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
#plus {
  position: absolute;
  margin-left: 120px;
  padding-left: 16px;
  padding-right: 16px;
  height: 46px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border-left: 1px solid #c4c4c4;
}
.hidden {
  position: absolute;
  margin-left: 650px;
  margin-top: 150px;
  background: linear-gradient(
    90deg,
    rgba(24, 18, 126, 1) 5%,
    rgba(12, 12, 140, 1) 30%,
    rgba(0, 212, 255, 1) 92%
  );
  box-shadow: 5px 10px #888888;
  width: 700px;
  height: 300px;
  z-index: 1;
  color: antiquewhite;
  visibility: hidden;
  animation: animation1 2s;
}
@keyframes animation1 {
  5% {
    opacity: 0.05;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.99;
  }
}
#message {
  margin-top: 100px;

  font-size: 24px;
}
#sum {
  margin-top: 10px;
  font-size: 24px;
  margin-left: 30%;
}

@media screen and (max-width: 768px) {
  #myAccount {
    margin-top: 8%;
    left: 53%;
    zoom: 120%;
    width: 50%;
  }
  .dot {
    margin-left: -7%;
    top: -17%;
  }
  #mailAdress,
  #callNumber {
    display: none;
  }
  #slikovniceTxt,
  #ostaliTxt,
  #blogTxt,
  #snizenoTxt {
    zoom: 70%;
    margin-top: 150px;
  }

  #slikovniceTxt {
    margin-left: 3%;
  }
  #ostaliTxt {
    margin-left: 23%;
  }
  #blogTxt {
    margin-left: 54%;
  }
  #snizenoTxt {
    margin-left: 65%;
  }
  #search {
    margin-left: 74%;
    margin-top: 70px;

    zoom: 60%;
  }
  #b2b {
    margin-left: 85%;
    margin-top: 175px;
    zoom: 60%;
  }

  #productTitle,
  #productType,
  #productDescription {
    left: 15%;
    margin-top: 550px;
  }
  #productDescription {
    margin-top: 740px;
    zoom: 80%;
  }

  #weRecomend {
    margin-top: 2929px;
    left: 18%;
    zoom: 70%;
    font-size: 28px;
  }

  #recomendedType2,
  #recomendedType3,
  #recomendedType4,
  #recomendedType5,
  #recomendedType6,
  #recomendedName2,
  #recomendedName3,
  #recomendedName4,
  #recomendedName5,
  #recomendedName6,
  #recomendedPrice2,
  #recomendedPrice3,
  #recomendedPrice4,
  #recomendedPrice5,
  #recomendedPrice6,
  #action2,
  #action3,
  #action4,
  #action5,
  #action6 {
    visibility: hidden;
  }
  .hidden {
    margin-left: 10%;
    margin-top: 2400px;
    zoom: 60%;
  }
  #recomendedType1,
  #recomendedName1,
  #recomendedPrice1 {
    top: -35%;
    left: -9.8%;
  }
  #action1 {
    top: -35%;
    left: -8.6%;
  }
}
